<h2>Invoice add</h2>
<form>
  <div class="col-md-10">
    <div class="form-group row">
      <div class="col-md-9">
        <label for="customer">Customer</label>
        <select class="form-control"
                (change)="updateInvoice()"
                id="customer"
                name="customer"
                [(ngModel)]="invoice.customer_id">
          <option *ngFor="let customer of customers"
                  value="{{customer.id}}">{{customer.name}}
          </option>
        </select>
      </div>
      <div class="col-md-3">
        <label for="customer">Discount</label>
        <div class="input-group">
          <input name="discount"
                 (change)="updateInvoice()"
                 type="number"
                 class="form-control"
                 min="0"
                 max="100"
                 [(ngModel)]="invoice.discount"/>
          <span class="input-group-addon">%</span>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="products">Products</label>
      <div class="row">
        <div class="col-md-9">
          <select class="form-control"
                  id="products"
                  [(ngModel)]="selectedProduct"
                  name="product">
            <option *ngFor="let product of products"
                    value="{{product.id}}">{{product.name}}</option>
          </select>
        </div>
        <div class="col-md-3">
          <button class="btn btn-block" ng-disabled="!selectedProduct" (click)="addProduct()">Add</button>
        </div>
      </div>
    </div>
    <ul class="list-group">
      <li class="list-group-item row" *ngFor="let item of invoice.products">
        <div class="col-md-10">
          <div class="input-group">
            <span class="input-group-addon"> {{item.product && item.product.name}}</span>
            <input (change)="updateProduct(item)" type="number" class="form-control" name="quantity_{{item.id}}" [(ngModel)]="item.quantity"/>
            <span class="input-group-addon">x {{item.product && item.product.price}} = {{item.product && item.product.price | summ:item.quantity | discount:invoice.discount}}</span>
          </div>
        </div>
        <div class="col-md-2">
          <button class="btn"
                  (click)="deleteProduct(item)">Delete</button>
        </div>
      </li>
    </ul>
  </div>
  <div class="col-md-2">
    <div class="form-group">
      <label>Total price</label>
      <div class="form-control">{{invoice.total | discount}}</div>
    </div>
  </div>
</form>
